<div class="page-inner">
    This is About <b>{{who}}</b>
    <hr />
    <code>
This is the page for /about route.
The value displayed comes from the data dependency configured for this route and it provides this Handlebars template a value for `who` actually through a plain literal object. There's nothing to see here except for the fact to learn that data dependencies can also be simple objects.
    </code>
</div>
