<div class="page-inner">
    <b>EPOCH:</b> {{epoch}}
    <hr />
    <code>
This is the page for /epoch route.
The EPOCH displayed comes from the data function configured for this route and it provides this Handlebars template a value for `epoch` through a promise. This makes this page dynamic such that everytime you land here, you'll always see the latest EPOCH value. This example demonstrates a loading indicator and also shows that a data dependency can also be resolved from a promise.
    </code>
</div>
