<div class="page-inner">
    <b>The time is</b> {{data}}
    <hr />
    <code>
This is the page for root (/) route.
The current time displayed comes from the data function configured for this route and it provides this Handlebars template a value for `timeRightNow`. This makes this page dynamic such that everytime you land here, you'll always see the current time.
    </code>
</div>
